/* general font settings for complete page */

html {
  width: 1300px;
}
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0 auto;
}
/* separator div for horizontal lines */

/*.separator {
  height: 0px;
  width: 2000px;
  border-bottom: 1px solid seashell;
  position: relative;
  top: -5px;
}*/

/* for dev purposes added borders to see positions of conatiners */
/*div {
  border: 1px solid white;
}
*/
/* header section with logo and links to sub sections */
 header {
   height: 69px;
   background-color: black;

 }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 1300px;
  z-index: 10;
  border-bottom: 1px solid seashell;
  background-color: black;

}
/* logo on top left side of page */
 .logo img {
   height: 50px;
   margin-left: 10px;
 }

 .header-nav span {
   text-decoration: underline;
   margin-left: 20px;

 }

 /* Mission main section*/
/* container with main content used as flex container*/
 .mission-teaser {
   display: flex;
   justify-content: center;
   z-index: 5;
 }

 /* background image for main section - used as flex item of mission-teaser and flex container for text-content*/
 .mission-main.image-content {
   width: 1200px;
   height: 700px;
   background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
   display: flex;
   align-items: center;
 }
/* Text inside main Teaser as flex item */
 .mission-main.text-content {
   justify-content: space-around;
   background-color: black;
   width: 1200px;
   text-align: center;
 }
/* reducing height of text container in main section */
 .mission-main.text-content h2 {
   margin-top: 15px;
 }

 .mission-main.text-content h4 {
   margin-bottom: 15px;
 }

/* Tea of the month section */

.tea-of-month {
  justify-content: center;
  width: 1000px;
  margin: 0 auto;

}
/* main container with text content as flex item and image containers as flex containers */
.tea-of-month .text-content {
  justify-content: space-around;
  background-color: black;
  text-align: center;
  flex-direction: row;
}

/* image containers with two flex items each */
.teaser-section {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

.teaser-section  .two-items {
  justify-content: center
  margin:auto;
}

.tea-of-month .teaser-content {
  width: 300px;
}

.tea-of-month .teaser-content img {
  height: 200px;
  width: 300px;
  justify-content: center;
}

.tea-of-month .teaser-content h4 {
  text-align: center;
  margin-top: 10px;
}

#image1 {
  margin-right: 17px;
}

#image2 {
  margin-left: 17px;
}
